<!DOCTYPE html>
<html>
<head>
 <title></title>
</head>
<body>
<style>
 
 td {
        width: 150px;
        text-align: center;
        border: 1px solid black;
        padding: 5px;
      }
</style>
<!-- <table> -->
  <!-- <thead>
    <tr>
        <th>vehicle ID</th>
        <th>current timestamp</th>
        <th>expiry timestamp</th>
    </tr>
    </thead>     -->
    <tbody>
        
    {% for list_, items in lists.items() %}  
    <br>Planet name:{{ list_[0]}}<br> Planet gravity: {{ list_[1]}} <br> Planet climate: {{ list_[2]}} <br>
    
    
    {% for item in items %}
    Resident name:{{item[3]}} <br>
    Gender: {{item[4]}}<br>
    Homeworld: {{item[5]}}<br>
      
      {% endfor %}
      {% endfor %}
           
            
    
    </tbody>
<!-- </table> -->
</body>
</html>